<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <ul class="nav" role="navigation">
       <li class="dropdown" id="menutest1">
        <a class="dropdown-toggle brand" data-toggle="dropdown" href="#menutest1"> Notedown </a>
        <ul class="dropdown-menu">
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li class="divider"></li>
          <li><a href="#">4</a></li>
        </ul>
      </li>
      <form class="navbar-search pull-left" id='search'>
        <input type="text" name="pattern" class="search-query file-search" placeholder="Search From Files">
      </form> 
      </ul>

      <ul class="nav pull-right">
        <li class="dropdown">
          <a href="#" id="drop6" role="button" class="dropdown-toggle" data-toggle="dropdown">Select Your Theme <b class="caret"></b></a>
          <ul id="theme-list" class="dropdown-menu" role="menu" aria-labelledby="drop6">
            <li><a tabindex='-1' href="#" data-value="ace/theme/chrome">Chrome</a></li>
            <li><a tabindex='-1' href="#" data-value="ace/theme/clouds">Clouds</a></li>
            <li><a tabindex='-1' href="#" data-value="ace/theme/clouds_midnight">Clouds Midnight</a></li>
            <li><a tabindex='-1' href="#" data-value="ace/theme/cobalt">Cobalt</a></li>
            <li><a tabindex='-1' href="#" data-value="ace/theme/crimson_editor">Crimson Editor</a></li>
            <li><a tabindex='-1' href="#" data-value="ace/theme/dawn">Dawn</a></li>
            <li><a tabindex='-1' href="#" data-value="ace/theme/dawn">Dreamweaver</a></li>
            <li><a tabindex='-1' href="#" data-value="ace/theme/eclipse">Eclipse</a></li>
            <li><a tabindex='-1' href="#" data-value="ace/theme/idle_fingers">idleFingers</a></li>
            <li><a tabindex='-1' href="#" data-value="ace/theme/kr_theme">krTheme</a></li>
            <li><a tabindex='-1' href="#" data-value="ace/theme/merbivore">Merbivore</a></li>
            <li><a tabindex='-1' href="#" data-value="ace/theme/merbivore_soft">Merbivore Soft</a></li>
            <li><a tabindex='-1' href="#" data-value="ace/theme/mono_industrial">Mono Industrial</a></li>
            <li><a tabindex='-1' href="#" data-value="ace/theme/monokai">Monokai</a></li>
            <li><a tabindex='-1' href="#" data-value="ace/theme/pastel_on_dark">Pastel on Dark</a></li>
            <li><a tabindex='-1' href="#" data-value="ace/theme/solarized_dark">Solarized Dark</a></li>
            <li><a tabindex='-1' href="#" data-value="ace/theme/solarized_light">Solarized Light</a></li>
            <li><a tabindex='-1' href="#" data-value="ace/theme/textmate">TextMate</a></li>
            <li><a tabindex='-1' href="#" data-value="ace/theme/tomorrow">Tomorrow</a></li>
            <li><a tabindex='-1' href="#" data-value="ace/theme/tomorrow_night">Tomorrow Night</a></li>
            <li><a tabindex='-1' href="#" data-value="ace/theme/tomorrow_night_blue">Tomorrow Night Blue</a></li>
            <li><a tabindex='-1' href="#" data-value="ace/theme/tomorrow_night_bright">Tomorrow Night Bright</a></li>
            <li><a tabindex='-1' href="#" data-value="ace/theme/tomorrow_night_eighties">Tomorrow Night 80s</a></li>
            <li><a tabindex='-1' href="#" data-value="ace/theme/twilight">Twilight</a></li>
            <li><a tabindex='-1' href="#" data-value="ace/theme/vibrant_ink">Vibrant Ink</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav pull-right">
        <li id="open-image-palette"><a href="#">Image Palette</a></li>
      </ul>
      <ul class="nav pull-right controlgroup">
              <li><img id="toggleFolder" class='nav-icon'  src="img/folder_blue_48.png" /></li>
              <li><img id="toggleFileList" class='nav-icon'  src="img/document_blue_48.png" /></li>
              <li><img id="toggleEditor" class='nav-icon'  src="img/brush_blue_48.png" /></li>
              <li><img id="togglePreview" class='nav-icon'  src="img/video_blue_48.png" /></li>
      </ul>
    </div>
  </div>
</div>