.search-query.file-search
    border-radius 4px

.nav .sync
    font-size 20px
.nav img.nav-icon
    width 32px
    height 32px
    padding 5px 10px 2px
    cursor pointer

.nav .nav-icon:hover
    background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255, 255, 255, 0.3)), color-stop(50%,rgba(255, 255, 255, .1)))

.nav .nav-icon:active
    background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255, 255, 255, 0.3)), color-stop(50%,rgba(255, 255, 255, .1)))

$top = 2
$folderWidth = 260
#folder
  position absolute
  padding 15px 0px 0px 10px
  margin-right: 5px;
  left 0px
  top unit($top, 'px')
  bottom 10px
  width unit($folderWidth, 'px')
  background rgba(255,255,255,0.8)
  borderRadius(4px)
  boxShadow(0px 0px 80px rgba(0,0,0,0.30), inset 0 0 5px rgba(0,0,0,0.6))
  boxSizing()
  boxFlex()
  overflow scroll
  overflow-x hidden

$fileWidth = 300
#file
  position absolute
  margin-right: 5px;
  top unit($top, 'px')
  left unit($folderWidth +  10, 'px')
  bottom 10px
  width unit($fileWidth, 'px')
  background rgba(255,255,255,0.8)
  borderRadius(4px)
  boxShadow(0px 0px 80px rgba(0,0,0,0.30), inset 0 0 5px rgba(0,0,0,0.6))
  boxSizing()
  boxFlex()
  overflow-y scroll

$contentWidth = 500
#content
  position absolute
  left unit($folderWidth + $fileWidth + 10, 'px')
  top unit($top, 'px')
  bottom 5px
  width unit($contentWidth, 'px')
  borderRadius(4px)
  boxShadow(0px 0px 80px rgba(0,0,0,0.30), inset 0 0 5px rgba(0,0,0,0.6))
  boxSizing()
  boxFlex()

#editor, #preview
  top 0px


/****context menu***/
@css {
    div.contextmenu {
      background: white;
      font-family:SourceCodeProRegular, Menlo, Monaco, consolas, monospace;
      padding:5px 0px 5px 0px;
      border: 1px solid #B8CBCB;
      padding: 1px;
      overflow: hidden;
      box-shadow: #666 2px 2px 5px;
      -moz-box-shadow: #666 2px 2px 5px;
      -webkit-box-shadow: #666 2px 2px 5px;
    }
    div.contextmenu ul {
       display:block;
       list-style:none;
       line-height:28px;
       padding:0px;
       margin:5px 0px 5px 0px;
    }
    div.contextmenu li.item {
      list-style:none;
      margin: 0;
      padding: 0;
      list-style: none;
      vertical-align: middle;
    }
    div.contextmenu li.item span {
      margin: 0 20px;
      display: block;
    }
    div.contextmenu li.item:hover{
      color: white;
      background: #348CCC;
      text-decoration: none;
      cursor:pointer;
    }
}